{% extends 'base.html.twig' %}

{% block title %}Anciens rapports{% endblock %}

{% block body %}
    <h1>Anciens rapports de l'entretien {{ id }}</h1>

    <ul>
        {% for rapport in rapports %}
            <li>{{ rapport.nom }} - {{ rapport.date|date('Y-m-d') }}</li>
        {% else %}
            <p>Aucun rapport trouvé.</p>
        {% endfor %}
    </ul>
{% endblock %}
